.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.cancel {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

.sidebar {
    width: 25%; /* Sidebar width */
    padding: 10px;
}

.sidebar h2 {
    font-size: 1.2em;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 5px 0;
}

.category-link {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.category-link a {
    text-decoration: none;
    color: #333;
}

/* Flexbox adjustments for the content and sidebar */
main.container {
    display: flex; /* Use flexbox for layout */
}

.content {
    padding: 20px; /* Add some padding around the content */
    margin-left: 20px; /* Optional: add space between sidebar and content */
}
